In [11]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

In [12]:
import logging

# Set the logging level to ERROR
logging.getLogger("py4j").setLevel(logging.ERROR)

In [13]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Preprocess") \
    .config("spark.executor.memory", "18g") \
    .config("spark.driver.memory", "150g") \
    .config("spark.pyspark.python", "/usr/local/bin/python3.9") \
    .config("spark.pyspark.driver.python", "/usr/local/bin/python3.9") \
    .getOrCreate()

# Read CSV into DataFrame
# prices = spark.read.csv("itineraries.csv", header=True, inferSchema=True)

In [14]:
flight_prices = spark.read.csv("/Users/shreyasmac/Documents/Notes/Big Data/Final Project/flight_prices_processed_2/*.csv", header=True, inferSchema=True)

In [15]:
flight_prices.columns

['startingAirport',
 'destinationAirport',
 'isRefundable',
 'isNonStop',
 'totalTravelDistance',
 'totalFare',
 'first_segmentsAirlineName',
 'searchWeek',
 'flightWeek',
 'travelDurationMinutes',
 'segmentsDepartureDaypart',
 'segmentArrivalDaypart']

In [16]:
from pyspark.sql.functions import mean
from pyspark.sql.functions import concat_ws


mean_weather_delay = flight_prices.groupBy('startingAirport', 'destinationAirport') \
                      .agg(mean('travelDurationMinutes').alias('Mean_travelDurationMinutes'))

# Concatenate 'Origin' and 'Dest' columns to create the key for the dictionary
mean_weather_delay = mean_weather_delay.withColumn("origin_dest", concat_ws("_", "startingAirport", "destinationAirport"))

# Convert the DataFrame to a dictionary
weather_delay_dict = dict(mean_weather_delay.rdd.map(lambda row: (row['origin_dest'], row['Mean_travelDurationMinutes'])).collect())

# Show the dictionary
print(weather_delay_dict)

{'JFK_ORD': 449.37553981502367, 'CLT_OAK': 846.5843123760835, 'MIA_DTW': 422.9290186473557, 'BOS_JFK': 139.59747316980818, 'CLT_MIA': 345.53223205145537, 'LAX_DFW': 350.92858345897616, 'DTW_PHL': 324.1143155059759, 'JFK_MIA': 296.6970743028995, 'OAK_CLT': 809.5669953997876, 'ATL_LGA': 268.63975140843763, 'BOS_DEN': 482.0833767930289, 'DEN_CLT': 393.74166266818025, 'ATL_ORD': 311.0551202349693, 'PHL_ATL': 275.19179602689934, 'DFW_ORD': 334.0808699069504, 'DEN_SFO': 332.029096047932, 'IAD_JFK': 423.0301650626594, 'LAX_MIA': 540.5833517107221, 'OAK_PHL': 825.6737556965419, 'PHL_IAD': 400.01414152174493, 'ATL_CLT': 266.3423335839404, 'ORD_OAK': 644.0546525281786, 'DFW_DEN': 255.6790295083012, 'DFW_IAD': 364.3484637266653, 'DTW_DEN': 405.81356115731114, 'CLT_DTW': 341.30855767203207, 'OAK_BOS': 774.998700994239, 'MIA_OAK': 903.0202757151902, 'CLT_IAD': 201.49525582275785, 'IAD_LAX': 541.5754021998669, 'JFK_SFO': 466.62619820127503, 'ORD_BOS': 234.52420656140646, 'OAK_MIA': 875.1978906087525, 'SFO_ORD': 443.9525256644093, 'ATL_DEN': 364.9132652874237, 'MIA_EWR': 313.4664692871396, 'ORD_CLT': 324.24719023411836, 'DTW_OAK': 768.3901892319095, 'IAD_DTW': 206.22435206714684, 'SFO_CLT': 578.0854726223976, 'DTW_MIA': 429.22045122596717, 'ATL_OAK': 769.112228820749, 'CLT_EWR': 227.34030984306213, 'DEN_DTW': 392.95011888807227, 'LGA_DFW': 329.3538451878587, 'EWR_LAX': 502.64405262113115, 'SFO_DFW': 391.72228183556274, 'BOS_ATL': 339.14838175161026, 'DFW_CLT': 351.44976787777074, 'JFK_PHL': 518.1260002279722, 'OAK_DFW': 665.8217179352165, 'ORD_DTW': 174.45963702806196, 'EWR_DEN': 435.670111827083, 'PHL_LAX': 552.5857819527255, 'ATL_SFO': 569.2819948406815, 'ORD_DEN': 300.3683433241557, 'CLT_DEN': 405.7144699910421, 'DTW_EWR': 240.97253084542172, 'IAD_DEN': 416.87067564740084, 'OAK_EWR': 697.7373269238145, 'DEN_LGA': 393.79617788784293, 'EWR_ORD': 252.62399889695314, 'ORD_PHL': 288.85381386531867, 'SFO_MIA': 638.1047012203952, 'ATL_JFK': 328.8698136321645, 'JFK_DEN': 550.7735842771485, 'DFW_MIA': 377.5190581834004, 'MIA_ORD': 408.81324221070474, 'ORD_MIA': 374.38697085310974, 'SFO_DEN': 364.6701890187491, 'EWR_DTW': 244.58017425592953, 'CLT_ORD': 337.5821250402505, 'MIA_ATL': 315.89165221946445, 'PHL_EWR': 431.1736057877369, 'IAD_DFW': 410.0667389897429, 'LAX_JFK': 464.79511297248854, 'ORD_IAD': 333.14672899101834, 'ATL_PHL': 278.7032160480052, 'IAD_EWR': 333.75157004884596, 'PHL_SFO': 617.3269670229222, 'CLT_ATL': 268.6294910024856, 'LAX_OAK': 479.900006622078, 'ORD_ATL': 307.4103571354602, 'CLT_BOS': 286.52588115731385, 'OAK_JFK': 744.7944867298062, 'DFW_JFK': 420.72690969087057, 'DTW_ORD': 202.1411617775196, 'MIA_SFO': 672.8880974553875, 'OAK_DEN': 519.3564378702242, 'EWR_CLT': 228.66931085431028, 'MIA_JFK': 227.16286560397776, 'OAK_ATL': 727.7102666412297, 'DEN_JFK': 542.3175814415268, 'DTW_SFO': 570.8768877790313, 'OAK_LAX': 508.84183584854685, 'IAD_ATL': 219.34969476518773, 'JFK_ATL': 320.7701077839138, 'PHL_DTW': 323.4648679235577, 'PHL_DEN': 452.3691696727485, 'JFK_DFW': 530.2775232280329, 'SFO_OAK': 439.6914518695664, 'LGA_LAX': 573.7084011325176, 'ATL_MIA': 310.7369785420007, 'DEN_LAX': 298.3841994079055, 'EWR_IAD': 319.3863964932441, 'SFO_ATL': 551.8684948574787, 'DTW_CLT': 334.74584908157715, 'BOS_DTW': 313.5046541935773, 'JFK_CLT': 320.2048869387495, 'MIA_BOS': 351.6759456546261, 'MIA_LAX': 563.6209268950469, 'ORD_DFW': 338.760568124083, 'LGA_DTW': 277.60690702164277, 'DFW_ATL': 240.84834081641216, 'ORD_LGA': 185.46633015459247, 'PHL_OAK': 871.7236568588544, 'ORD_JFK': 386.7796969152254, 'DEN_ORD': 304.6196008034867, 'LAX_CLT': 505.52886821042665, 'OAK_SFO': 458.99456721180695, 'ATL_DTW': 326.15468784714506, 'BOS_CLT': 306.4923081750645, 'CLT_PHL': 307.2375093496292, 'DFW_EWR': 323.8047574003215, 'LAX_DEN': 314.3728888317593, 'BOS_OAK': 832.4418324337437, 'BOS_EWR': 203.5239829378021, 'IAD_BOS': 354.925937444261, 'LAX_SFO': 151.42044048867265, 'OAK_IAD': 703.1963103933066, 'PHL_JFK': 451.1033246077807, 'SFO_BOS': 520.5208314388314, 'EWR_SFO': 532.4995209530365, 'PHL_CLT': 313.1804931925093, 'BOS_LGA': 185.36281307250363, 'PHL_MIA': 376.30209009651514, 'BOS_DFW': 431.7879615222337, 'DEN_PHL': 452.02277838407014, 'PHL_ORD': 281.2424296688931, 'SFO_IAD': 545.1024542083512, 'BOS_IAD': 340.09851000380695, 'EWR_ATL': 232.8119728982794, 'IAD_SFO': 577.0655062510845, 'ATL_BOS': 327.3168804000828, 'LGA_CLT': 257.95975633504537, 'MIA_CLT': 362.847164829068, 'JFK_IAD': 421.43009611415766, 'DEN_ATL': 350.5438057679486, 'DTW_IAD': 201.9358456076212, 'ORD_EWR': 213.0259173560032, 'LAX_LGA': 546.1203625727964, 'EWR_BOS': 197.81396371132772, 'PHL_DFW': 406.0528808802458, 'DEN_EWR': 400.45175781997614, 'DTW_ATL': 330.4641864690863, 'LGA_MIA': 303.44754367099785, 'OAK_LGA': 800.4330212267915, 'JFK_BOS': 137.83298180859478, 'DFW_LAX': 350.5025731974226, 'IAD_CLT': 233.50616217582743, 'DEN_MIA': 477.0704484941038, 'EWR_DFW': 350.8012337000457, 'IAD_ORD': 352.4806543587954, 'LAX_ATL': 452.83224086407256, 'BOS_ORD': 266.7976584281347, 'MIA_IAD': 423.7210001011992, 'ATL_LAX': 461.14341349076074, 'ORD_SFO': 465.468819425332, 'DFW_SFO': 394.4966027007818, 'DTW_JFK': 441.9004004555641, 'LAX_IAD': 521.1768422554194, 'DFW_LGA': 308.183848843999, 'JFK_OAK': 761.7887431545188, 'LGA_ORD': 215.12010904302426, 'CLT_JFK': 304.2599227154169, 'DTW_BOS': 291.82885398375856, 'LAX_BOS': 497.9896049639078, 'SFO_JFK': 422.4814049949395, 'JFK_LAX': 483.3849046566142, 'DEN_DFW': 252.23574415013164, 'LGA_OAK': 845.96565596606, 'OAK_ORD': 620.3183707824802, 'ATL_EWR': 228.56497450892522, 'DTW_LAX': 532.529459254323, 'LAX_EWR': 482.8815025323472, 'PHL_BOS': 182.92757081450458, 'DTW_DFW': 377.09901330699995, 'DEN_IAD': 380.94619256221455, 'SFO_DTW': 556.4158029907932, 'SFO_LAX': 157.11275731493384, 'LGA_SFO': 623.2868130410135, 'CLT_DFW': 372.3118577312168, 'MIA_DFW': 393.0688335270531, 'EWR_MIA': 285.63235322471803, 'CLT_LAX': 516.4437210540034, 'SFO_PHL': 581.9337238555416, 'DEN_BOS': 435.04322447300615, 'JFK_DTW': 389.18680196383235, 'LAX_DTW': 514.6052188831161, 'LGA_PHL': 455.86853190647565, 'IAD_OAK': 798.9365146919545, 'MIA_DEN': 490.28408568399374, 'SFO_EWR': 507.9333206628381, 'LGA_DEN': 415.36609316778544, 'LAX_ORD': 426.23586614204777, 'IAD_LGA': 394.1060713881386, 'LAX_PHL': 530.8592983518452, 'CLT_LGA': 240.1792813081367, 'DFW_BOS': 401.3809589232544, 'BOS_SFO': 562.5686715024161, 'BOS_PHL': 193.43992386652437, 'DEN_OAK': 494.09818390000316, 'DFW_DTW': 355.65200243850853, 'BOS_MIA': 360.51393450095014, 'EWR_PHL': 416.8618868690972, 'MIA_PHL': 396.891852432163, 'DFW_PHL': 389.7139228243609, 'BOS_LAX': 530.7319965951618, 'SFO_LGA': 601.876893939394, 'ATL_IAD': 216.30104710173376, 'IAD_MIA': 425.8620620205551, 'LGA_ATL': 264.1489313476507, 'PHL_LGA': 436.42882312296075, 'CLT_SFO': 586.0131531809338, 'OAK_DTW': 717.3102105232676, 'ATL_DFW': 234.38762952335406, 'IAD_PHL': 424.98070384667693, 'MIA_LGA': 286.2426889345864, 'LGA_BOS': 167.06749965829877, 'DTW_LGA': 260.68540441985476, 'ORD_LAX': 439.9829304965454, 'DFW_OAK': 707.0516507250849, 'LGA_IAD': 388.7021220439189, 'EWR_OAK': 757.7956162784233, 'EWR_LGA': 83.04761904761905}

In [17]:
import json

# Convert the dictionary to JSON format
weather_delay_json = json.dumps(weather_delay_dict)

# Specify the file path where you want to save the JSON file
file_path = "timeDuration.json"  # Replace "/path/to/your/file.json" with your desired file path

# Write the JSON string to the file
with open(file_path, 'w') as f:
    json.dump(weather_delay_dict, f)

In [18]:
# flight_dict = flight_prices.rdd.map(lambda row: (row.Operating_Airline, row.Airline)).collectAsMap()

In [19]:
ohe_cols = ['startingAirport',
             'destinationAirport',             
             'first_segmentsAirlineName',
             'searchWeek',
             'flightWeek',
             'segmentsDepartureDaypart',
             'segmentArrivalDaypart']

In [20]:
ohe_cols

['startingAirport',
 'destinationAirport',
 'first_segmentsAirlineName',
 'searchWeek',
 'flightWeek',
 'segmentsDepartureDaypart',
 'segmentArrivalDaypart']

In [21]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import OneHotEncoder
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index", handleInvalid="keep") for column in ohe_cols]

# Perform OneHotEncoding on the indexed columns
encoders = [OneHotEncoder(inputCol=column+"_index", outputCol=column+"_onehot") for column in ohe_cols]

# Create a pipeline to execute the indexers and encoders sequentially
pipeline = Pipeline(stages=indexers + encoders)

# Fit the pipeline to the data and transform the DataFrame
pipeline_model = pipeline.fit(flight_prices)
encoded_df = pipeline_model.transform(flight_prices)

# Show the encoded DataFrame
encoded_df.limit(10).toPandas().head(10)

24/05/09 18:07:57 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,startingAirport,destinationAirport,isRefundable,isNonStop,totalTravelDistance,totalFare,first_segmentsAirlineName,searchWeek,flightWeek,travelDurationMinutes,...,flightWeek_index,segmentsDepartureDaypart_index,segmentArrivalDaypart_index,startingAirport_onehot,destinationAirport_onehot,first_segmentsAirlineName_onehot,searchWeek_onehot,flightWeek_onehot,segmentsDepartureDaypart_onehot,segmentArrivalDaypart_onehot
0,ORD,MIA,0,0,1844,327.20,Delta Air Lines Inc.,16,21,740,...,21.0,0.0,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)"
1,ORD,MIA,0,0,1824,328.60,Delta Air Lines Inc.,16,21,388,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"
2,ORD,MIA,0,0,1196,328.60,Delta Air Lines Inc.,16,21,395,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
3,ORD,MIA,0,0,1824,328.60,Delta Air Lines Inc.,16,21,405,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
4,ORD,MIA,0,0,1393,328.60,Delta Air Lines Inc.,16,21,408,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
5,ORD,MIA,0,0,1824,328.60,Delta Air Lines Inc.,16,21,543,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"
6,ORD,MIA,0,1,1192,338.61,American Airlines Inc.,16,21,186,...,21.0,1.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)"
7,ORD,MIA,0,0,1824,347.61,JetBlue Airways,16,21,382,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
8,ORD,MIA,0,0,1824,347.61,JetBlue Airways,16,21,384,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"
9,ORD,MIA,0,0,1824,347.61,JetBlue Airways,16,21,450,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"

In [22]:
pipeline_model = pipeline.fit(flight_prices)

In [23]:
encoded_df.limit(10).toPandas().head(10)

,startingAirport,destinationAirport,isRefundable,isNonStop,totalTravelDistance,totalFare,first_segmentsAirlineName,searchWeek,flightWeek,travelDurationMinutes,...,flightWeek_index,segmentsDepartureDaypart_index,segmentArrivalDaypart_index,startingAirport_onehot,destinationAirport_onehot,first_segmentsAirlineName_onehot,searchWeek_onehot,flightWeek_onehot,segmentsDepartureDaypart_onehot,segmentArrivalDaypart_onehot
0,ORD,MIA,0,0,1844,327.20,Delta Air Lines Inc.,16,21,740,...,21.0,0.0,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)"
1,ORD,MIA,0,0,1824,328.60,Delta Air Lines Inc.,16,21,388,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"
2,ORD,MIA,0,0,1196,328.60,Delta Air Lines Inc.,16,21,395,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
3,ORD,MIA,0,0,1824,328.60,Delta Air Lines Inc.,16,21,405,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
4,ORD,MIA,0,0,1393,328.60,Delta Air Lines Inc.,16,21,408,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
5,ORD,MIA,0,0,1824,328.60,Delta Air Lines Inc.,16,21,543,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"
6,ORD,MIA,0,1,1192,338.61,American Airlines Inc.,16,21,186,...,21.0,1.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)"
7,ORD,MIA,0,0,1824,347.61,JetBlue Airways,16,21,382,...,21.0,0.0,2.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)"
8,ORD,MIA,0,0,1824,347.61,JetBlue Airways,16,21,384,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"
9,ORD,MIA,0,0,1824,347.61,JetBlue Airways,16,21,450,...,21.0,0.0,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0)"

In [24]:
columns = encoded_df.columns

# Reorder the columns putting the 5th column at the end
new_columns = columns[:5] + columns[6:] + [columns[5]]

# Select the columns in the new order
encoded_df = encoded_df.select(*new_columns)

In [25]:
from pyspark.sql.functions import col
encoded_df.filter(col("startingAirport") == "JFK").filter(col("destinationAirport")=="BOS").show(2)

+---------------+------------------+------------+---------+-------------------+-------------------------+----------+----------+---------------------+------------------------+---------------------+---------------------+------------------------+-------------------------------+----------------+----------------+------------------------------+---------------------------+----------------------+-------------------------+--------------------------------+-----------------+-----------------+-------------------------------+----------------------------+---------+
|startingAirport|destinationAirport|isRefundable|isNonStop|totalTravelDistance|first_segmentsAirlineName|searchWeek|flightWeek|travelDurationMinutes|segmentsDepartureDaypart|segmentArrivalDaypart|startingAirport_index|destinationAirport_index|first_segmentsAirlineName_index|searchWeek_index|flightWeek_index|segmentsDepartureDaypart_index|segmentArrivalDaypart_index|startingAirport_onehot|destinationAirport_onehot|first_segmentsAirlineName_onehot|searchWeek_onehot|flightWeek_onehot|segmentsDepartureDaypart_onehot|segmentArrivalDaypart_onehot|totalFare|
+---------------+------------------+------------+---------+-------------------+-------------------------+----------+----------+---------------------+------------------------+---------------------+---------------------+------------------------+-------------------------------+----------------+----------------+------------------------------+---------------------------+----------------------+-------------------------+--------------------------------+-----------------+-----------------+-------------------------------+----------------------------+---------+
|            JFK|               BOS|           0|        1|                185|          JetBlue Airways|        16|        22|                   75|                   night|                night|                 10.0|                     2.0|                            3.0|            16.0|            19.0|                           1.0|                        1.0|       (16,[10],[1.0])|           (16,[2],[1.0])|                  (13,[3],[1.0])|  (26,[16],[1.0])|  (32,[19],[1.0])|                  (4,[1],[1.0])|               (4,[1],[1.0])|     73.6|
|            JFK|               BOS|           0|        1|                185|     American Airlines...|        16|        22|                   75|                   night|                night|                 10.0|                     2.0|                            0.0|            16.0|            19.0|                           1.0|                        1.0|       (16,[10],[1.0])|           (16,[2],[1.0])|                  (13,[0],[1.0])|  (26,[16],[1.0])|  (32,[19],[1.0])|                  (4,[1],[1.0])|               (4,[1],[1.0])|     98.6|
+---------------+------------------+------------+---------+-------------------+-------------------------+----------+----------+---------------------+------------------------+---------------------+---------------------+------------------------+-------------------------------+----------------+----------------+------------------------------+---------------------------+----------------------+-------------------------+--------------------------------+-----------------+-----------------+-------------------------------+----------------------------+---------+
only showing top 2 rows

In [26]:
encoded_df.columns

['startingAirport',
 'destinationAirport',
 'isRefundable',
 'isNonStop',
 'totalTravelDistance',
 'first_segmentsAirlineName',
 'searchWeek',
 'flightWeek',
 'travelDurationMinutes',
 'segmentsDepartureDaypart',
 'segmentArrivalDaypart',
 'startingAirport_index',
 'destinationAirport_index',
 'first_segmentsAirlineName_index',
 'searchWeek_index',
 'flightWeek_index',
 'segmentsDepartureDaypart_index',
 'segmentArrivalDaypart_index',
 'startingAirport_onehot',
 'destinationAirport_onehot',
 'first_segmentsAirlineName_onehot',
 'searchWeek_onehot',
 'flightWeek_onehot',
 'segmentsDepartureDaypart_onehot',
 'segmentArrivalDaypart_onehot',
 'totalFare']

In [27]:
columns_to_drop = [
    "startingAirport",
    "destinationAirport",
    "first_segmentsAirlineName",
    "searchWeek",
    "flightWeek",
    "segmentsDepartureDaypart",
    "segmentArrivalDaypart",
    "isNonStop",
    "isRefundable"
]

# Drop the specified columns
encoded_df = encoded_df.drop(*columns_to_drop)

In [28]:
train_df, test_df = encoded_df.randomSplit([0.7, 0.3])

In [30]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

# Combine features into a single vector column
trainAssembler = VectorAssembler(inputCols=train_df.columns[:-1],
                                 outputCol="features")
trainOutput = trainAssembler.transform(train_df)

testAssembler = VectorAssembler(inputCols=test_df.columns[:-1],
                                outputCol="features")
testOutput = testAssembler.transform(test_df)

# Create a LinearRegression model
lr = LinearRegression(featuresCol="features", labelCol="totalFare")

# Train the model
model = lr.fit(trainOutput)

# Make predictions
predictions = model.transform(testOutput)

24/05/09 18:11:23 WARN Instrumentation: [ed7dc871] regParam is zero, which might cause numerical instability and overfitting.
24/05/09 18:12:05 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
24/05/09 18:12:05 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS
24/05/09 18:18:29 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK
24/05/09 18:18:29 WARN Instrumentation: [ed7dc871] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.

In [31]:
from pyspark.sql.functions import abs

# Evaluate the model
mae = predictions.select(abs(predictions["totalFare"] - predictions["prediction"]).alias("error")).agg({"error": "mean"}).collect()[0][0]
print("Mean Absolute Error (MAE) on test data = %g" % mae)

Mean Absolute Error (MAE) on test data = 103.039

In [ ]:
from pyspark.sql.functions import abs

# Evaluate the model
evaluator = RegressionEvaluator(labelCol="totalFare", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
mae = predictions.select(abs(predictions["totalFare"] - predictions["prediction"]).alias("error")).agg({"error": "mean"}).collect()[0][0]

print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)
print("Mean Absolute Error (MAE) on test data = %g" % mae)

In [ ]:
predictions

In [ ]:
# Save the pipeline
# pipeline_path = "pipeline_model2"
# pipeline_model.save(pipeline_path)

# Save the trained model
# model_path = "linear_regression_model"
# model.save(model_path)

In [ ]:
# model_path = "linear_regression_model"
# model.save(model_path)

# print("Model saved to", model_path)

In [22]:
import random
print(random.uniform(-1, 1))

0.3798136523647071